<!-- Generated template for the QuestionCardComponent component -->
<ion-card>
  <ion-item>
    <ion-avatar item-left>
      <img src="img/marty-avatar.png">
    </ion-avatar>
    <h2><b>{{question.by}}</b></h2>
    <ion-col center text-center>
      <ion-note>
        11h ago
      </ion-note>
    </ion-col>
  </ion-item>

  <ion-card-content>
    <h3>{{question.text}}</h3>
  </ion-card-content>
</ion-card>

<ion-row>
<ion-col text-center>
  <button ion-button>
    {{question.positive}}
  </button>
</ion-col>
<ion-col text-center>
  <button ion-button color="danger">
   	{{question.negative}}
  </button>
</ion-col>
</ion-row>