<!--
  Generated template for the TutorialPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Tutorial</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-grid>

      <ion-row align-items-center c>
        <ion-col>
          <!-- CARD -->
          <ion-slides pager>

            <ion-slide style="background-color: green">
              <h2>Slide 1</h2>
            </ion-slide>

            <ion-slide style="background-color: blue">
              <question-card></question-card>
            </ion-slide>

            <ion-slide style="background-color: red">
              <h2>Slide 3</h2>
            </ion-slide>

          </ion-slides>
          <!-- MATCH-BAR -->
          <matching-bar></matching-bar>

        </ion-col>
      </ion-row> 

    </ion-grid>

</ion-content>
